<div class="sectionLine">
	<section class="container">
		<div class="row notHover gap-bottom" ng-repeat = "testimonial in home.testimonial.largeTestimonial">
			<div class="col-md-12">
				<h2 class="heading">Testimonial</h2>
				<div class="testimonial">
					<div class="picture">
						<img ng-src="{{testimonial.image}}" />
						<h2>{{testimonial.name}}
							<p class="designation">{{testimonial.position}}}</p>
						</h2>
					</div>
					<p class="text-justify">
						<sup><i class="fa fa-quote-left fa-lg"></i></sup> &nbsp; {{testimonial.paragraph1}}
					</p>
					<p class="text-justify">{{testimonial.paragraph2}}</p>
					<p class="text-justify">{{testimonial.paragraph3}}</p>
					<p class="text-justify">
						{{testimonial.paragraph3}} &nbsp;<sup><i class="fa fa-quote-right fa-lg"></i></sup>
					</p>
				</div>
			</div>
		</div>
		<div class="row notHover gap-bottom">
			<div class="col-md-6" ng-repeat = "testimonial in home.testimonial.smallTestimonial" ng-if = "$even">
				<div class="testimonial">
					<div class="picture">
						<img ng-src="{{testimonial.image}}" />
						<h2>{{testimonial.name}}
							<p class="designation">{{testimonial.position}}</p>
						</h2>
					</div>
					<p class="text-justify">
						<sup><i class="fa fa-quote-left fa-lg"></i></sup> &nbsp;{{testimonial.paragraph1}} &nbsp;<sup><i class="fa fa-quote-right fa-lg"></i></sup>
					</p>
				</div>
			</div>
			<div class="col-md-6" ng-repeat = "testimonial in home.testimonial.smallTestimonial" ng-if="$odd">
				<div class="testimonial">
					<div class="picture">
						<img ng-src="{{testimonial.image}}" />
						<h2>{{testimonial.name}}
							<p class="designation">{{testimonial.position}}</p>
						</h2>
						<p class="text-justify">
							<sup><i class="fa fa-quote-left fa-lg"></i></sup> &nbsp;{{testimonial.paragraph1}} &nbsp;<sup><i class="fa fa-quote-right fa-lg"></i></sup>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>