<div class="sectionLine">
	<section class="container"><!-- Section section of the website content starts here -->
		<div class="row notHover gap-bottom">
			<div class="col-md-4"><!-- Meet our team section starts here -->
				<div class="meet-team">
					<h2>{{home.meetandmission.meetTeam.heading}}</h2>
					<p class="text-justify"><sup><i class="fa fa-quote-left"></i></sup>&nbsp;{{home.meetandmission.meetTeam.content1}}</p>
					<p class="text-justify">{{home.meetandmission.meetTeam.content2}}&nbsp;<sup><i class="fa fa-quote-right"></i></sup></p>
				</div>
			</div><!-- Meet our team block ends here -->
			<div class="col-md-8"><!-- Mission block starts here -->
				<div class="our-mission">
					<h2>{{home.meetandmission.mission.heading}}</h2>				
					<p class="text-justify">
						<i class="fa fa-square"></i><span class="missionName"><strong>{{home.meetandmission.mission.education.title}} :</strong></span>
						{{home.meetandmission.mission.education.content}}
					</p>
					<p class="text-justify">
						<i class="fa fa-square"></i><span class="missionName"><strong>{{home.meetandmission.mission.social.title}} :</strong></span>
						{{home.meetandmission.mission.social.content}}
					</p>
					<p class="text-justify">
						<i class="fa fa-square"></i><span class="missionName"><strong>{{home.meetandmission.mission.development.title}} :</strong></span>
						{{home.meetandmission.mission.development.content}}
					</p>
				</div>
			</div><!-- Mission block ends here -->
		</div>
	</section><!-- Second section of the website content ends here -->
</div>