<div class="sectionLine">
	<section class="container"><!-- Section section of the website content starts here -->
		<div class="row notHover gap-bottom">
			<div class="col-md-4"><!-- Meet our team section starts here -->
				<div class="meet-team">
					<h2>Meet our team</h2>
					<p class="text-justify"><sup><i class="fa fa-quote-left"></i></sup>&nbsp;Junoon Foundation as team is a brainchild of a group of young, energetic and dynamic go-getters, is a non-profitable organization working towards the betterment of a society.</p>
					<p class="text-justify">Though we have a spectrum of initiatives, we intend to primarily focus on the education sector. Under our flagship programme Ummid. We work with schools, conduct workshops, teach children, carry out extra-curricular activities and try to indicate habit of reading in them.&nbsp;<sup><i class="fa fa-quote-right"></i></sup></p>
				</div>
			</div><!-- Meet our team block ends here -->
			<div class="col-md-8"><!-- Mission block starts here -->
				<div class="our-mission">
					<h2>Our mission</h2>				
					<p class="text-justify">
						<i class="fa fa-square"></i><span class="missionName"><strong>Education :</strong></span>
						Junoon is working with schools from rural areas to bring new methods in pedagogy, impart life skills and soft skills, provide career guidance and encourage the love of arts and sports among children.
					</p>
					<p class="text-justify">
						<i class="fa fa-square"></i><span class="missionName"><strong>Social Awareness :</strong></span>
						Junoon believes for the progress of any community, political awareness and cooperation among the citizens of a village are two important things. It aims to generate them through various village-level initiatives.
					</p>
					<p class="text-justify">
						<i class="fa fa-square"></i><span class="missionName"><strong>Sustainable Development :</strong></span>
						Junoon is trying to preserve the fast depleting cover of tress and vanishing jungles. Therefore, it arranges tree plantation drives, creates awareness among the citizens about the importance of nature, disadvantages of industries and sustainable agriculture etc.
					</p>
				</div>
			</div><!-- Mission block ends here -->
		</div>
	</section><!-- Second section of the website content ends here -->
</div>