<div class="sectionLine">
	<section class="container"> <!-- Here starts the content section of the Website -->
		<div class="row gap-bottom"> <!-- Row of the thought block starts here -->
			<div id="{{$index}}" ng-repeat="quote in quotesList" class="col-md-4">
				<div class="thoughtBlock">
					<header class="thoughtHeader">
						<h3 ng-hide="quotesList[$index].isActive" ng-click="clicked($index)">{{quote.name}}</h3>
						<input ng-show="quotesList[$index].isActive" type="text" name="quote{{$index}}" ng-model="quotesList[$index].name"></input>
					</header>
					<div class="thoughtContent" ng-click="clicked($index)">
						<p ng-hide="quotesList[$index].isActive"><sup><i class="fa fa-quote-left fa-lg" contenteditable="false"></i></sup> &nbsp;{{quote.content}} &nbsp;<sup><i class="fa fa-quote-right fa-lg" contenteditable="false"></i></sup>
						</p>
						<p ng-show="quotesList[$index].isActive"><!-- <sup><i class="fa fa-quote-left fa-lg" contenteditable="false"></i></sup> --> &nbsp;<textarea type="text" name="quote{{$index}}" ng-model="quotesList[$index].content"></textarea> &nbsp;<!-- <sup><i class="fa fa-quote-right fa-lg" contenteditable="false"></i></sup> -->
						</p>
					</div>
				</div>
			</div>
			<button ng-show="quotesList[0].isActive || quotesList[1].isActive || quotesList[2].isActive"type="button" ng-click="submit()">Save</button>
		</div> <!-- Row of the thought ends here -->
	</section>
</div>

<!-- //ToDO -->
<!-- Need to add a button and send a json object to the node js server -->